body {
    font: 100%/1.4 'Merriweather', serif;
    color: rgb(51, 51, 51);
    background-color: rgb(240, 240, 240);
    position: relative;
    padding-bottom: 2em;
}
.main {
    margin: 1em auto;
    width: 100%;
    max-width: 600px;
}
.shape {
    float: left;
    width: 250px;
    shape-outside: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28727/detective-mask.png');
    shape-margin: 1em;
}
.shape-right {
    float: right;
    width: 250px;
    shape-outside: url(../img/image.png);
    shape-margin: 1em;
}
h1 {
    text-align: center;
}
.colophon {
    position: absolute;
    bottom: 0;
    right: 1em;
}
@media (max-width: 360px) {
    h1 { font-size: 1em; }
}

