$testColorRed: rgb(229,98,80);
$testColorBlue: rgb(130,179,176);
$testColorGray: rgb(49,49,49);

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body {
    font: 100%/1.4 'Merriweather', serif;
    color: rgb(51, 51, 51);
    background-color: rgb(240, 240, 240);
    position: relative;
    padding-bottom: 2em;
}

*{margin: 0;
padding: 0;
}
canvas {
    display: block;
    // width: 200px;
    // height: 200px;
}
.main {
    margin: 1em auto;
    // width: 100%;
    // max-width: 600px;
}
//.shape {
//    float: left;
//    width: 250px;
//    -webkit-shape-outside: url(../../images/image.png);
//    shape-outside: url(../../images/image.png);
//    shape-margin: 1em;
//}
.shape-right {
    float: right;
    width: 250px;
    webkit-shape-outside: url(../../images/image.png);
    shape-outside: url(../../images/image.png);
    shape-margin: 1em;
}
.circle {
    shape-outside: circle(30%);
    transition: shape-outside ls;
    float: left;
    background-color: red;
}
.circle:hover {
    shape-outside: circle(50%);
}
h1 {
    text-align: center;
}
@media (max-width: 360px) {
    h1 { font-size: 1em; }
}



.poly-left{
    shape-outside: polygon(0 0, 50%, 30%, 70%);
    float: left;
    width: 50%;
    height: 100%;
}

.poly-right {
    shape-outside: polygon(50% 0, 30%, 20%, 40%);
    float: right;
    width: 50%;
    height: 100%;
}
.skrollable {
/*
* First-level skrollables are positioned relative to window
*/
position:fixed;
/*
* Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
*/
z-index:100;
}
.skrollr-mobile .skrollable {
/*
May cause issues on Android default browser (see #331 on GitHub).
*/
position:absolute;
}
.skrollable .skrollable {
/*
* Second-level skrollables are positioned relative their parent skrollable
*/
position:absolute;
}
.skrollable .skrollable .skrollable {
/*
* Third-level (and below) skrollables are positioned static
*/
position:static;

}
$slide3tStartSmall: -5%; /*starter litt inne i bildet*/
$slide3tEndSmall: 200%; /**/
$slide3widthSmall: 1000%;
$fontSizeSmall: large;
/* Slide 3 goes to the bottom right */
#slide3 {
  color: snow;
  background-color: rgb(49,49,49);
  background-size: cover;
  -webkit-transform: translate($slide3tStartSmall,$slide3tEndSmall);
  -ms-transform: translate($slide3tStartSmall,$slide3tEndSmall);
  transform: translate($slide3tStartSmall, $slide3tEndSmall);
  width: $slide3widthSmall;
  position: absolute;
}
#uteBilde {
  position: absolute;
  opacity: 0.5;
}

.vers {
  position: relative;
  width: 10%;
  font-size: $fontSizeSmall;
}

.vers2-shape {

  float: left;
  -webkit-shape-outside: url(../../images/skisse_vers2-3.png);
  shape-outside: url(../../images/skisse_vers2-3.png);
  shape-margin: 1em;
  transition: shape-outside ls;
}

#v1 {
//  background-color: $testColorRed;
}
#v2 {
//  background-color: $testColorBlue;
}
#v3 {
//  background-color: $testColorGray;
}