$break-small: 350px;
$break-medium: 500px;
$break-large: 700px;


$slide3tStartSmall: -1%; /*starter litt inne i bildet*/
$slide3tEndSmall: 200%; /**/
$slide3widthSmall: 1000%;
$fontSizeSmall: large;
/* Slide 3 goes to the bottom right */
#slide3 {
  color: snow;
  background-color: rgb(49,49,49);
    background: url('../../images/vers2-3-bg.png') no-repeat left center;
    background-size: auto 100%;
    position: absolute;

    width: 100%;

  $slide3tStartXLarge:0%;
  $slide3tEndXLarge:200%;
  $slide3widthXLarge: 100%;

    -webkit-transform: translate($slide3tStartXLarge,$slide3tEndXLarge);
    -ms-transform: translate($slide3tStartXLarge,$slide3tEndXLarge);
    transform: translate($slide3tStartXLarge, $slide3tEndXLarge);
    //    width: $slide3widthXLarge;



}

#uteBilde {
  position: absolute;
  opacity: 0.5;
}

.vers2-shape {
  float: left;
  -webkit-shape-outside: url(../../images/vers2-3.png);
  shape-outside: url(../../images/vers2-3.png);
  shape-margin: 1em;
  transition: shape-outside ls;
  opacity: 0.5;
  @media(max-width: $break-small) {
     margin-top: 2em;
  }
  @media(min-width: $break-small) {
    margin-top: 5em;

  }

  @media(min-width: $break-medium) {
    margin-top: 7em;
  }

  @media(min-width: $break-large) {
    margin-top: 10em;
  }
}

#vers2 {
  width: 15em; //bredden må endres etter bredden på skjermen
  margin-left: 45em; //må endres ut fra bredden
  padding-top:10em;
  }
#vers3 {
  width: 15em; //bredden må endres etter bredden på skjermen
  margin-left: 1200em; //må endres ut fra bredden
  padding-top: 10em;
}
#refreng2 {
  width: 15em; //bredden må endres etter bredden på skjermen
  margin-left: 72em; //må endres ut fra bredden
  padding-top:10em;
}

#refreng3 {
  width: 20em;
  margin-left: 260vh;
  padding-top: 10vh;
}

$akeStartSmall: 10em;
$akeEndSmall: 30em;
#akeTest {
  -webkit-transform: translate($akeStartSmall,$akeEndSmall);
  -ms-transform: translate($akeStartSmall,$akeEndSmall);
  transform: translate($akeStartSmall, $akeEndSmall);
}

#akeBilde {
  width: 100px;
  height: 100px;

  @media(max-width: $break-small) {

  }

  @media(min-width: $break-small) {

  }

  @media(min-width: $break-medium) {

  }

  @media(min-width: $break-large) {

  }
}
