#akeBilde {
  width: 7.5%;
  height: auto;
  position: absolute; }

#vers2 {
  width: 15em;
  margin-left: 45em;
  padding-top: 10em; }

#vers3 {
  width: 15em;
  margin-left: 1200em;
  padding-top: 10em; }

#refreng2 {
  width: 15em;
  margin-left: 72em;
  padding-top: 10em; }

#refreng3 {
  width: 20em;
  margin-left: 260vh;
  padding-top: 10vh; }
