#akeBilde {
  position: absolute; }

#vers2 {
  width: 15em; }

#vers3 {
  width: 15em; }

#refreng2 {
  width: 15em; }

#refreng3 {
  width: 20em; }

#fadeOut {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  right: 0; }
