#vers1 {
  height: 100%;
  width: 100%;
  background: url('../../../images/vers1-langt.png') no-repeat right center;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: absolute;
  left: 0;
  top: 0; }
  @media (max-width: 420px) {
    #vers1 {
      background-position: 90%; } }
  @media (min-width: 420px) and (max-width: 600px) {
    #vers1 {
      background-position: 95%; } }

.snowBackground {
  position: absolute;
  background: url('../../../images/snowy-bg.png') no-repeat;
  z-index: -5;
  height: 100vh;
  width: 100vw; }

#slide2 .snowWindow {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

#vers1-text {
  z-index: 5;
  position: absolute;
  padding: 5%;
  max-width: 50em; }

#lykt-container {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%; }

#lykt {
  background: url('../../../images/lykt-padding.png') no-repeat right center;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  height: 100%;
  width: 100%; }
  @media only screen and (min-width: 320px) {
    #lykt {
      background-position: -100%; } }
  @media only screen and (min-width: 480px) {
    #lykt {
      background-position: 100%; } }
  @media only screen and (min-width: 768px) {
    #lykt {
      background-position: 0%; } }
