#akeBilde {
  width: 7.5%;
  height: auto;
  position: absolute; }

#vers2 {
  width: 15em;
  display: inline; }

#vers3 {
  width: 15em;
  display: inline; }

#refreng2 {
  width: 15em;
  display: inline; }

#refreng3 {
  width: 20em;
  display: inline; }

#fadeOut {
  width: 100vw;
  height: 100vw;
  position: absolute;
  right: 0; }
