@font-face{
    font-family:'DINPro';
    src: url('../../fonts/DinPro/dinpro-webfont.eot?iefix') format('embedded-opentype'),
         url('../../fonts/DinPro/DINPro.otf') format('opentype'),
         url('../../fonts/DinPro/dinpro-webfont.woff') format('woff'),
         url('../../fonts/DinPro/dinpro-webfont.ttf') format('truetype');
}
@font-face{
    font-family:'DINProMedium';
    src: url('../../fonts/DinPro/DINPro-Medium.eot') format('embedded-opentype'),
         url('../../fonts/DinPro/DINPro-Medium.otf') format('opentype'),
         url('../../fonts/DinPro/DINPro-Medium.woff') format('woff'),
         url('../../fonts/DinPro/DINPro-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'DINProBold';
    src: url('../../fonts/DinPro/dinpro-bold-webfont.eot?iefix') format('embedded-opentype'),
         url('../../fonts/DinPro/DINPro-Bold.otf') format('opentype'),
         url('../../fonts/DinPro/dinpro-bold-webfont.woff') format('woff'),
         url('../../fonts/DinPro/dinpro-bold-webfont.ttf') format('truetype');
}

@font-face{
    font-family:'DINProItalic';
    src: url('../../fonts/DinPro/dinpro-italic-webfont.eot?iefix') format('embedded-opentype'),
         url('../../fonts/DinPro/DINPro-Italic.otf') format('opentype'),
         url('../../fonts/DinPro/dinpro-italic-webfont.woff') format('woff'),
         url('../../fonts/DinPro/dinpro-italic-webfont.ttf') format('truetype');
}

header {
  display:block;
  color: #F5F5F5;
}

header h1 {
  font-family: Selfie;
  font-weight: 300;
  @media (max-width: 350px) {
    font-size: 2em;
  }
  @media (max-width: 600px) and (min-width: 350px) {
    font-size: 3em;
  }
  font-size: 4em;
}
h2, h3 {
  font-family: 'DINPro';
}

.godjul {
  text-shadow: 1px 4px rgba(255, 255, 255, 0.3);
}


.Selfie { 
    font-family: Selfie;
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'DINPro';
    line-height: 1.4em;
  @media (max-width: 350px) {
    font-size: 0.8em;
  }
  @media (max-width: 600px) and (min-width: 350px) {
    font-size: 1em;
  }

    font-size: 1.2em;
}

html, body {
    width:100%;
    height:100%;
}

#slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slides {
    width: 200%;
    height: 300%;
    position: fixed;
    top: 0;
    left: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 33.33%;
}
#slide1 {
    width: 100vw;
    background: url('../../../images/julebilde.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

$julebildeBlurry: '../../../images/julebilde-blurry.png';
#slide1-blurry {
    width: 100vw;
    background: url($julebildeBlurry) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slide2 {
    width: 100vw;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#slide3 {
    width: 100vw;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#slide4 {
    background: url('../../../images/vers2-3.png') no-repeat left center;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    width: 100%;
    -webkit-transform: translate(0,200%);
    -ms-transform: translate(0,200%);
    transform: translate(0,200%);

}

#slide5 {
    width: 100vw;
    -webkit-transform: translate(100%,200%);
    -ms-transform: translate(100%,200%);
    transform: translate(100%,200%);
}

#skrollr-body {
    width: 100%;
    height: 100%;
}
span.line {
    display: block;
    @media (max-width: 420px) {
      max-width: 260px;
    }
  @media (min-width: 420px) and (max-width: 600px) {
      max-width: 350px;
  }
}
.vers {
    display: inline-block;
    color: #f5f5f5;
    background-color: rgba(7, 70, 109, 0.6);
    padding: 3em;
    z-index: 16;
}
.box {
  padding: 5%;
}