html, body {
    width:100%;
    height:100%;
}

#slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slides {
    width: 200%;
    height: 300%;
    position: fixed;
    top: 0;
    left: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 33.33%;
}
$julebildeUrl: '../../../images/julebilde.jpg';
#slide1 {
    width: 100vw;
    background: url($julebildeUrl) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slide2 {
    width: 100vw;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#slide3 {
    width: 100vw;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#slide4 {
    background: url('../../../images/vers2-3.png') no-repeat left center;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    width: 100%;
    -webkit-transform: translate(0,200%);
    -ms-transform: translate(0,200%);
    transform: translate(0,200%);

}

#slide5 {
    width: 100vw;
  background: url($julebildeUrl) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-transform: translate(100%,200%);
    -ms-transform: translate(100%,200%);
    transform: translate(100%,200%);
}

#test {

}
