small {
    text-align: center;
    color: #F5F5F5;
    font-family: 'DINPro';
}

#ut1 {
}

.ut p {
    position: relative;
    padding-bottom: 1em;
    padding-right: 5em;
    visibility: visible;
}

#ut2 {
}

#ut3 {
}

.firmalogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

$julebildeUrl: '../../../images/julebilde-blurry.png';
#slide5-content {
    width: 100%;
    height: 100%;
    position: relative; /* IE9-fix */
    background: url($julebildeUrl) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fadeOut {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#fadeIn {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#intro-content-container {
    z-index: 2;
}

.credit {
    margin: 1em;
}
.credit p {
    padding: 0;
    margin: 0;
    text-align: center;
}
.infoTextboxCenter {
    padding-left: 10%;
    padding-right: 10%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#christmasGreetings{
    text-align: center;
    font-family: Selfie;
    color: #F5F5F5;

}
.centerHeaderText {
    text-align: center;
}

.bold {
    background-color: blue;
    font-family: 'DINProBold';
}
.normal {
    background-color: red;
    font-family: 'DINPro';
}
