#akeBilde {
    //    width: 7.5%;
    //    height: auto;
    position: absolute;
    z-index: -1;
    // background-color: red;
}

// #vers2 {
//   margin-right: 30%;
// }
// #vers3 {
//   margin-right: 20%;
// }
// #refreng2 {
//   margin-right: 30%;
// }

#fadeOut {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    right: 0;
}

#slide4verscontainer
{
    height: 100%;
    width: 100%;
}

#slide4 .vers {
    position: absolute;
}

#vers2 {
    left: 2%;
}

#refreng2 {
    left: 40%;

}

#vers3 {
    left: 68%;
}

