#akeBilde {
//    width: 7.5%;
//    height: auto;
  position: absolute;
  z-index: -1;
}

// #vers2 {
//   margin-right: 30%;
// }
// #vers3 {
//   margin-right: 20%;
// }
// #refreng2 {
//   margin-right: 30%;
// }

#refreng3 {

}

#fadeOut{
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  right: 0;
}
