#vers1 {
    height: 100%;
    width: 100%;
    background: url('/images/vers1_uten-seng.png') no-repeat center center;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    top: 0;
}
