
#intro-textbox-container { 	
    margin-top: 30em;
    width: 100%;
    position: absolute;
}
#intro-textbox {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 10%;    
}

#godjul {
	position: absolute;
	width: 10%;
}
#volume-container {
    width: 17%;
    background-color: #9999FF;
    border-radius: 50%;
    color: #ffffff;
    margin-top: 10em;
    text-align: center;
    display: inline-block;
    position: absolute;
}

/*@media (min-width: 245px) {
	#intro-textbox-container { 	
	    margin-left: 25%;
	    margin-top: 5%;
	    margin-right: 2%;
	}
}
@media (min-width: 355px) {
	#volume-container {
	    width: 11%;
	}
}
@media (min-width: 1500px) {
	#intro-textbox-container { 	
	    margin-left: 25%;
	    margin-top: 25%;
	    margin-right: 2%;
	}
	#volume-container {
	    width: 2%;
	}
}*/