
#intro-textbox-container { 	
    bottom: 60%;
    width: 100%;
    position: absolute;
}
#intro-textbox {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 5em;  
    width: 100%;
    position: absolute;  
}

#intro-textbox p {
	position: relative;
	font-family: 'DINPro';
	padding-bottom: 1em;
	padding-right: 5em;
}
#godjul {
	position: relative;
	margin-top: 1em;
	width: 10em;
}
#volume-container {
    width: 3em;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #993392;
    margin-top: 2em;
    margin-left: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
}
/*
.arrows {
	font-size:5em;
	color: #993392;
	text-align: center;
	position: absolute;
}*/


/*@media (min-width: 245px) {
	#intro-textbox-container { 	
	    margin-left: 25%;
	    margin-top: 5%;
	    margin-right: 2%;
	}
}
@media (min-width: 355px) {
	#volume-container {
	    width: 11%;
	}
}
@media (min-width: 1500px) {
	#intro-textbox-container { 	
	    margin-left: 25%;
	    margin-top: 25%;
	    margin-right: 2%;
	}
	#volume-container {
	    width: 2%;
	}
}*/