body {
  font: 100%/1.4 'Merriweather', serif;
  color: #333333;
  background-color: #f0f0f0;
  position: relative;
  padding-bottom: 2em; }

* {
  margin: 0;
  padding: 0; }

canvas {
  display: block; }

.main {
  margin: 1em auto; }

.shape-right {
  float: right;
  width: 250px;
  webkit-shape-outside: url(../../images/image.png);
  shape-outside: url(../../images/image.png);
  shape-margin: 1em; }

.circle {
  shape-outside: circle(30%);
  transition: shape-outside ls;
  float: left;
  background-color: red; }

.circle:hover {
  shape-outside: circle(50%); }

h1 {
  text-align: center; }

@media (max-width: 360px) {
  h1 {
    font-size: 1em; } }

.poly-left {
  shape-outside: polygon(0 0, 50%, 30%, 70%);
  float: left;
  width: 50%;
  height: 100%; }

.poly-right {
  shape-outside: polygon(50% 0, 30%, 20%, 40%);
  float: right;
  width: 50%;
  height: 100%; }

.skrollable {
  /*
* First-level skrollables are positioned relative to window
*/
  position: fixed;
  /*
* Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
*/
  z-index: 100; }

.skrollr-mobile .skrollable {
  /*
May cause issues on Android default browser (see #331 on GitHub).
*/
  position: absolute; }

.skrollable .skrollable {
  /*
* Second-level skrollables are positioned relative their parent skrollable
*/
  position: absolute; }

.skrollable .skrollable .skrollable {
  /*
* Third-level (and below) skrollables are positioned static
*/
  position: static; }

/*starter litt inne i bildet*/
/**/
/* Slide 3 goes to the bottom right */
#slide3 {
  color: snow;
  background-color: #313131;
  background-size: cover;
  -webkit-transform: translate(-5%, 200%);
  -ms-transform: translate(-5%, 200%);
  transform: translate(-5%, 200%);
  width: 1000%;
  position: absolute; }

#uteBilde {
  position: absolute;
  opacity: 0.5; }

.vers {
  position: relative;
  width: 10%;
  font-size: large; }

.vers2-shape {
  float: left;
  -webkit-shape-outside: url(../../images/skisse_vers2-3.png);
  shape-outside: url(../../images/skisse_vers2-3.png);
  shape-margin: 1em;
  transition: shape-outside ls; }

