#vers1-jenta {
    height: 50%;
    width: auto;
}
#lykt {
    height: 7%;
    width: 40%;
    margin-top: 150%;
    margin-left: 7%;
    z-index: 1;
    position: absolute;
}
#vers1 #img-container{    
    -webkit-transform: translate(-270%);
    -ms-transform: translate(-270%);
    transform: translate(-270%);
    width: 100%;
    height: 100%;
    z-index: 2;    
    position: absolute;
}
#vers1-text {
    z-index: 5;
    position: absolute;
}
@media (min-width: 338px) {
    #vers1-jenta{
        width: 18em;
        float: right;
    }
    #vers1 #img-container{
        float: right;
        overflow: hidden; 
        width: 60%;
    }

}
@media (min-width: 500px) {
    #vers1-jenta {
        width: 25em;
        float: right;
    }
}
@media (min-width: 685px) {
    #vers1-jenta {
        width: 100%;
    }
    #vers1 #img-container{
        width: 100%;
    }
}

#snowBackground {
    position: absolute;
    height: 45%;
    width: 100%;
    background-image: url(../../images/bluemorninglandscape.jpg);
    z-index: -1;
}

#snowWindow {
    width: 80%;
    height: 50%;
    margin-top: 70%;
}

@media (min-width: 338px) {
    #snowBackground {
        height: 45%;
        left: 45%;
    }

    #snowWindow {
        width: 45%;
        height: 45%;
    }
}