#slide2 {
    background: url('../../images/vers1_uten-seng.png');
    -webkit-background-size: auto, 100%;
    -moz-background-size: auto, 100%
    -o-background-size: auto, 100%;
    background-size: auto, 100%
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:33%;
}
#snowBackground {
    position: absolute;
    height: 100%;
    width: 50%;
    background-image: url(../../images/snowy-bg.png);
    z-index: -5;
}
#snowWindow {
    width: 100%;
    height: 50%;
    z-index: -1;
}
/*#vers1 #img-container{
    width: 100%;
    height: 50%;
    z-index: 2;
    position: absolute;
}*/
/*#vers1-jenta {
    height: 100%;
    width: 100%;
}*/
#vers1-text {
    z-index: 5;
    position: absolute;
}
#lykt-container {
    height: 20%;
    width: 30%;
    padding-top: 15%;
    padding-left: 5%;
    z-index: 1;
    position: absolute;
    float: right;
}
#lykt {
    height: 100%;

}

/*

#vers1-text {
    z-index: 5;
    position: absolute;
}*/

/*@media (min-width: 260px) {
    #vers1 #img-container{
        -webkit-transform: translate(-250%);
        -ms-transform: translate(-250%);
        transform: translate(-250%);
    }
}
@media (min-width: 280px) {
    #vers1 #img-container{
        -webkit-transform: translate(-230%);
        -ms-transform: translate(-230%);
        transform: translate(-230%);
    }
}
@media (min-width: 300px) {
    #vers1 #img-container{
        -webkit-transform: translate(-210%);
        -ms-transform: translate(-210%);
        transform: translate(-210%);
    }
}
@media (min-width: 320px) {
    #vers1 #img-container{
        -webkit-transform: translate(-190%);
        -ms-transform: translate(-190%);
        transform: translate(-190%);
    }
}*/
/*@media (min-width: 340px) {
    #vers1 #img-container{
        -webkit-transform: translate(-170%);
        -ms-transform: translate(-170%);
        transform: translate(-170%);
    }
}
@media (min-width: 380px) {
    #vers1 #img-container{
        -webkit-transform: translate(-150%);
        -ms-transform: translate(-150%);
        transform: translate(-150%);
    }
}
@media (min-width: 400px) {
    #vers1 #img-container{
        -webkit-transform: translate(-130%);
        -ms-transform: translate(-130%);
        transform: translate(-130%);
    }
}
@media (min-width: 460px) {
    #vers1 #img-container{
        -webkit-transform: translate(-110%);
        -ms-transform: translate(-110%);
        transform: translate(-110%);
    }
}
@media (min-width: 500px) {
    #vers1-jenta {
        height: 40%;
        width: 100%;
    }
    #vers1 #img-container{
        -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
        transform: translate(0%);
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 620px) {
    #vers1-jenta {
        height: 60%;
    }
}*/
