/*starter litt inne i bildet*/
/**/
/* Slide 3 goes to the bottom right */
#slide3 {
  color: snow;
  background-color: #313131;
  background-size: cover;
  position: absolute; }
  @media (max-width: 350px) {
    #slide3 {
      -webkit-transform: translate(-1%, 200%);
      -ms-transform: translate(-1%, 200%);
      transform: translate(-1%, 200%);
      width: 5000%; } }
  @media (min-width: 350px) {
    #slide3 {
      -webkit-transform: translate(-2%, 200%);
      -ms-transform: translate(-2%, 200%);
      transform: translate(-2%, 200%);
      width: 1000%; } }
  @media (min-width: 500px) {
    #slide3 {
      -webkit-transform: translate(-1.5%, 200%);
      -ms-transform: translate(-1.5%, 200%);
      transform: translate(-1.5%, 200%);
      width: 1000%; } }
  @media (min-width: 700px) {
    #slide3 {
      -webkit-transform: translate(0%, 200%);
      -ms-transform: translate(0%, 200%);
      transform: translate(0%, 200%); } }

#uteBilde {
  position: absolute;
  opacity: 0.5; }

#vers2 {
  height: 100%;
  width: auto; }

.vers2-shape {
  float: left;
  -webkit-shape-outside: url(../../images/vers2-3.png);
  shape-outside: url(../../images/vers2-3.png);
  shape-margin: 1em;
  transition: shape-outside ls;
  opacity: 0.5; }
  @media (max-width: 350px) {
    .vers2-shape {
      margin-top: 2em; } }
  @media (min-width: 350px) {
    .vers2-shape {
      margin-top: 5em; } }
  @media (min-width: 500px) {
    .vers2-shape {
      margin-top: 7em; } }
  @media (min-width: 700px) {
    .vers2-shape {
      margin-top: 10em; } }

#v2 {
  width: 15em;
  margin-left: 40em;
  padding-top: 10em; }
  @media (max-width: 350px) { }
  @media (min-width: 350px) { }
  @media (min-width: 500px) { }
  @media (min-width: 700px) { }

#v3 {
  width: 15em;
  margin-left: 1200em;
  padding-top: 10em; }
  @media (max-width: 350px) { }
  @media (min-width: 350px) { }
  @media (min-width: 500px) { }
  @media (min-width: 700px) { }
  @media (min-width: 700px) {
    #v3 {
      width: 20em;
      margin-left: 120em; } }

#ref2 {
  width: 15em;
  margin-left: 72em;
  padding-top: 10em; }

#akeTest {
  -webkit-transform: translate(10em, 30em);
  -ms-transform: translate(10em, 30em);
  transform: translate(10em, 30em); }

#akeBilde {
  width: 100px;
  height: 100px; }
  @media (max-width: 350px) { }
  @media (min-width: 350px) { }
  @media (min-width: 500px) { }
  @media (min-width: 700px) { }
